<?xml version="1.0"?>
<config>
    <modules>
        <ID_SkroutzAnalytics>
            <version>1.0.0.0</version>
        </ID_SkroutzAnalytics>
    </modules>
    <global>
        <models>
            <skroutzanalytics>
                <class>ID_SkroutzAnalytics_Model</class>
            </skroutzanalytics>
        </models>
        <blocks>
            <skroutzanalytics>
                <class>ID_SkroutzAnalytics_Block</class>
            </skroutzanalytics>
        </blocks>
        <helpers>
            <skroutzanalytics>
                <class>ID_SkroutzAnalytics_Helper</class>
            </skroutzanalytics>
        </helpers>
    </global>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <skroutzanalytics_order_success>
                        <class>skroutzanalytics/observer</class>
                        <method>setSkroutzAnalyticsOnOrderSuccessPageView</method>
                    </skroutzanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <skroutzanalytics_order_success>
                        <class>skroutzanalytics/observer</class>
                        <method>setSkroutzAnalyticsOnOrderSuccessPageView</method>
                    </skroutzanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <layout>
            <updates>
                <skroutzanalytics>
                    <file>skroutzanalytics.xml</file>
                </skroutzanalytics>
            </updates>
        </layout>
    </frontend>
</config>
